

       _________         .    .
      (..       \_    ,  |\  /|
       \       O  \  /|  \ \/ /
        \______    \/ |   \  /
           vvvv\    \ |   /  |
           \^^^^  ==   \_/   |
            `\_   ===    \.  |
            / /\_   \ /      |
            |/   \_  \|      /
                   \________/
        <[--------------------]>

Server is Managed by Floki Ansible Tool

* Link: https://github.com/Norwik/Floki
* Version: {{ version }}
