


                    ,
                    |`-.__
                    / ' _/
                   ****`
                  /    }
                 /  \ /
             \ /`   \\\
             `\    /_\\
               `~~~~~``~`
        <[--------------------]>

Server is Managed by Oranda Ansible Tool

* Link: https://github.com/Norwik/Oranda
* Version: {{ version }}
